<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Park management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div class="container hm">
     <h1>Park Management</h1>
    <div class="hm-sec">
        <div class="admin card">
            <i class="fa-solid fa-user"></i>
            <a href="/admin">ADMIN</a>
        </div>
        <div class="employee card">
            <i class="fa-solid fa-users"></i>
            <a href="/employee">Employee</a>
        </div>
    </div>
   </div>
</body>
</html>